.vs/NullMarketManager/DesignTimeBuild/.dtbcache
.vs/NullMarketManager/v16/.suo
.vs/NullMarketManager/v16/Server/sqlite3/db.lock
.vs/NullMarketManager/v16/Server/sqlite3/storage.ide
.vs/NullMarketManager/v16/Server/sqlite3/storage.ide-shm
.vs/NullMarketManager/v16/Server/sqlite3/storage.ide-wal
bin/Debug/netcoreapp3.1/Newtonsoft.Json.dll
bin/Debug/netcoreapp3.1/NullMarketManager.deps.json
bin/Debug/netcoreapp3.1/NullMarketManager.dll
bin/Debug/netcoreapp3.1/NullMarketManager.exe
bin/Debug/netcoreapp3.1/NullMarketManager.pdb
bin/Debug/netcoreapp3.1/NullMarketManager.runtimeconfig.dev.json
bin/Debug/netcoreapp3.1/NullMarketManager.runtimeconfig.json
bin/Debug/netcoreapp3.1/RestSharp.dll
bin/Debug/netcoreapp3.1/typeInfo.json
obj/NullMarketManager.csproj.nuget.cache
obj/NullMarketManager.csproj.nuget.dgspec.json
obj/NullMarketManager.csproj.nuget.g.props
obj/NullMarketManager.csproj.nuget.g.targets
obj/project.assets.json
obj/Debug/netcoreapp3.1/NullMarketManager.AssemblyInfo.cs
obj/Debug/netcoreapp3.1/NullMarketManager.AssemblyInfoInputs.cache
obj/Debug/netcoreapp3.1/NullMarketManager.assets.cache
obj/Debug/netcoreapp3.1/NullMarketManager.csproj.CopyComplete
obj/Debug/netcoreapp3.1/NullMarketManager.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp3.1/NullMarketManager.csprojAssemblyReference.cache
obj/Debug/netcoreapp3.1/NullMarketManager.dll
obj/Debug/netcoreapp3.1/NullMarketManager.exe
obj/Debug/netcoreapp3.1/NullMarketManager.pdb
bin/
